.home-content
{
	text-align:left;
}

.home-content .game-entry
{
	padding: 10px 0px 20px;
}

/* Search bar */
#search-container
{
	height: 50px;
}

.search-bar
{
	margin-left: 10%;
	margin-right: 10%;
}

#multilayers 
{
	position: relative; 
    margin: 10px 0px 5px;
}
#multilayers .icon-search, #multilayers #search 
{
	position: absolute;
	top: 0;
	left: 0;
}
 
.icon-search 
{
	z-index: 2;
	margin-top: 8px;
	margin-left: 8px;
}
 
#search 
{
	z-index: 1;
	width: 85%;
	padding-left: 27px;
	/*padding-right:27px;*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

/* end of Search */

.home-content div.category
{
	margin-bottom: 3px;
}

.home-content #first-categories img 
{
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

.home-content h5
{
	color: #0D2C64;
	text-align: center;
}

.home-content .content-image
{
	display: block;
	float: left;
	margin: 8px 12px 2px 5px;
}

.home-content #first-categories
{
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 0px 0px 10px;
}

.home-content #subscribe-and-save a
{
	/*color:#0033FF;*/
}

.home-content div.gradient-pale
{
	margin-top: 1px 0px 1px 0px;
}

/*div.content
{
	display: none;
}*/

.home-content div.content-name
{
	text-align: left;
	font-size: 17px;
	color: #9168B4;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: bolder;
}
.content-name h4 a
{
    color:Purple !important;
}
.home-content .content-name a
{
	color: #800080;
}
.home-content .content-name a:hover
{
	color: inherit;
}

.home-content .content-description
{
	text-align: left;
}

.home-content div.input-prepend
{
	margin-top: 10px;
}

.home-content div.welcome-text
{
	color: Aqua;
}
