@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        @Resources.Strings.Error_Error
    </title>
</head>
<body>
    <h2>
        @Resources.Strings.Error_Description
    </h2>
</body>
</html>