<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- staging -->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.25;initial catalog=8ePing;user id=sa;password=8e123;Initial Catalog=aspnet-EightElements.Web.Rest-20130123115642;Integrated Security=SSPI" />
    
    <!-- Production -->
    <add name="PingEntities" connectionString="metadata=res://*/Ping.csdl|res://*/Ping.ssdl|res://*/Ping.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.110.10;initial catalog=8ePing;user id=sa;password=8eDB2854;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="PortalId" value="429" />
    <!-- IPAddress Using DefaultOfficeMsisdn-->
    <!--<add key="DefaultOfficeIPAddress" value="" />-->
    <add key="DefaultOfficeIPAddress" value="::1;127.0.0.1;localhost;" />
    <!--<add key="DefaultOfficeMsisdn" value="9791000527" />
    <add key="ForceUseDefaultMsisdn" value="false" />-->
    <add key="DefaultOfficeMsisdn" value="test123" />
    <add key="ForceUseDefaultMsisdn" value="true" />
    <!--this is test phone number for Viettel portal 84923057491, Telstra 0039212117-->
    <add key="DefaultOfficeHandset" value="58211" />
    <add key="charge_description" value="Gamer Hvn Game" />
    <add key="subscription_id" value="1048" />
    <add key="RSSFeedPath" value="C:\Common\8ePromos_{0}.xml" />
    <add key="FirstWeekFree" value="true" />
    <add key="PointSystemVisible" value="false" />
    <add key="HandsetSelection" value="true" />
    <add key="UseMsisdnUserChoice" value="true" />
    <add key="ActiveAndroidDetection" value="true" />
    <add key="CssMod" value="D1GC" />
    <add key="SupportEmail" value="gamerheaven.myanmar@8elements.net" />
    <add key="DisableMainBanner" value="false" />
    <!--    UserBase Registration-->
    <add key="UserRegistration" value="false" />
    <add key="UserBase_ClientID" value="eWallet" />
    <add key="UserBase_Password" value="eWallet" />
    <!-- Facebook Account Kit -->
    <add key="AccountKit_Enabled" value="true" />
    <add key="AccountKit_SmsLoginEndpoint" value="https://www.accountkit.com/v1.0/basic/dialog/sms_login" />
    <add key="AccountKit_GetTokenEndpoint" value="https://graph.accountkit.com/v1.2/access_token" />
    <add key="AccountKit_GetAccountEndpoint" value="https://graph.accountkit.com/v1.2/me" />
    <add key="AccountKit_CallbackUrl" value="http://fb.dob.vn/home/login" />
    <add key="AccountKit_AppID" value="486508248365572" />
    <add key="AccountKit_AppSecret" value="18bcc2bdd0d4265cd2bfbaaa92c25eb5" />
    <!--    Coupon Service -->
    <add key="GenerateCoupon_Endpoint" value="http://coupon.8elements.net/coupon/generate" />
    <!-- To be moved to database -->
    <add key="charge_amount" value="0.00,0.99,1.49,1.99,2.49,2.99,3.49,4.99,6.99" />
    <add key="NumberOfItemsPerPage" value="12" />
    <add key="NumberOfItemsPerGroup" value="3" />
    <!--Number of items per groups: hightlight, new game,... in HomePage-->
    <add key="CloudImage" value="true" />
    <add key="CloudGameFiles" value="false" />
    <add key="CloudPrivateKeyId" value="APKAJYCWHJHJTM5IS4SQ" />
    <add key="CloudPrivateKeyPath" value="D:\git\ping\EightElements.Helpers\AWS\pk.xml" />
    <add key="AWSRegion" value="us-west-1" />
    <add key="AWSLogging" value="log4net" />

    <add key="RootUrl" value="http://tkx.gamegalaksi.com" />
    <add key="LANIP" value="http://localhost" />
    <add key="WANIP" value="http://localhost" />
    <add key="ContentSourceRelativePath" value="/Telstra/ContentDownload/Home" />
    <add key="ContentSourcePhysicalPath" value="D:\Publish\ContentDownload" />
    <add key="ContentDownloadUrl" value="http://download.8elements.mobi/ContentDownload" />
    <add key="ContentDownloadPhysicalPath" value="E:\Sites\DownloadCenter\ContentDownload" />
    <add key="JadFilesRelativePath" value="/Telstra/ContentDownload/Jad" />
    <add key="JadFilesPhysicalPath" value="E:\Sites\DownloadCenter\ContentDownload" />
    <add key="ContentImagesCachePhysicalPath" value="C:\Publish\ContentDownload" />
    <!--//2015-01-21: Prevent complaint from Airpush subscriber on direct sub link-->
    <add key="Campaigns" value="Airpush_LP_Note4" />
    <!-- Workflow -->
    <add key="MediaContentSourceUrl" value="http://ping.8elements.net/ContentStorage" />
    <!---Viettel SMS-->
    <!--<add key="Msisdn_RSAPrivateKeyPath" value="E:\Works\Khoa\TFSCode\Ping\ping\EightElements.Service.Sms.Viettel\Data\RSAPrivateKey.pem"/>
    <add key="SendMTUrl" value="http://125.235.33.90/SMSWebGamePortal/GamePortalMessageAPI"/>
    <add key="GetMsisdnUrl" value="http://125.235.33.90/SMSWebGamePortal/GamePortalGetMsisdn"/>
    <add key="TripleDESKeyPath" value="E:\Works\Khoa\TFSCode\Ping\ping\EightElements.Service.Sms.Viettel\Data\3DESKey.txt"/>
    <add key="RSAPrivateKeyPath" value="E:\Works\Khoa\TFSCode\Ping\ping\EightElements.Service.Sms.Viettel\Data\RSAPrivateKey.pem"/>
    <add key="RSAPublicKeyPath" value="E:\Works\Khoa\TFSCode\Ping\ping\EightElements.Service.Sms.Viettel\Data\RSAPublicKey.pem"/>
    <add key="Msisdn_TripleDESKeyPath" value="E:\Works\Khoa\TFSCode\Ping\ping\EightElements.Service.Sms.Viettel\Data\MsisdnDetection\3DESKey.txt"/>
    <add key="Msisdn_RSAPrivateKeyPath" value="E:\Works\Khoa\TFSCode\Ping\ping\EightElements.Service.Sms.Viettel\Data\MsisdnDetection\RSAPrivateKey.pem"/>
    <add key="Msisdn_RSAPublicKeyPath" value="E:\Works\Khoa\TFSCode\Ping\ping\EightElements.Service.Sms.Viettel\Data\MsisdnDetection\RSAPublicKey.pem"/>-->
    <!-- VietNam mobile begin-->
    <add key="Msisdn_RSAPublicKeyPath" value="K:\8eDocs\Viettel\getKey\PublicKeyVT.pem" />
    <add key="Msisdn_RSAPrivateKeyPath" value="K:\8eDocs\Viettel\getKey\PrivateKeyCP.pem" />
    <add key="TripleDESKeyPath" value="K:\8eDocs\Viettel\keystore\3DESKey.txt" />
    <add key="RSAPrivateKeyPath" value="K:\8eDocs\Viettel\keystore\RSAPrivateKey.pem" />
    <!--<add key="Msisdn_RSAPublicKeyPath" value="D:\Sites\VNM\SieugameTouch\Data\RSAPublicKey.pem"/>
    <add key="Msisdn_RSAPrivateKeyPath" value="D:\Sites\VNM\SieugameTouch\Data\RSAPrivateKey.pem"/>-->
    <add key="8eVNMUserName" value="asdasd" />
    <add key="8eVNMPassword" value="9lewa@1x" />
    <add key="8eVNMUserId" value="1953" />
    <add key="VNMUserName" value="MOVIETNAMMOBILE" />
    <add key="VNMPassword" value="V13T@MM081" />
        
    <add key="ACTIVE_UPRO_CONFIRM" value="true" />
    <add key="UPRO_CONFIRM_URL" value="http://upro.vn/gateway.php/confirm" />
    <!-- Confirmation page-->
    <add key="P_IMPROVEMENT_IFRAME_HIGHT" value="270" />
    <add key="ACTIVE_CONFIRMATION_PAGE" value="false" />
    <add key="P_IMPROVEMENT_IFRAME_MARGINTOP" value="0px" />
    <!-- [UPRO] UPGRADE CONFIRM WAP-->
    <add key="ActiveUproUpgradConfirmWAP" value="true" />
    <!--End Viettel, Idearix partner-->
    <!-- SMS Service Viettel -->
    <add key="HasUsedWebService" value="True" />
    <add key="SMSWS_USERNAME" value="8elgame" />
    <add key="SMSWS_PASSWORD" value="8elgame" />
    <!--Start Plasma Game Galaksi-->
    <add key="SignKey" value="89r298rhlshjfqyvf837410hdjfblp93" />
    
    <add key="Reporo_PostbackEndpoint" value="http://api.reporo.net/conversion" />
    <add key="S2S_PostbackEndpoint" value="http://s2s.mtrackings.mobi?adv=8elements" />
    <add key="Kimia_PostbackEndpoint" value=": http://sign.route-conversion.com/conversion_get/pixel.jpg" />
    
    <!--End Plasma Game Galaksi-->
    
	<!-- Triyakom - Indosat Subscription -->
    <add key="Triyakom_CarrierCode" value="IM3"/>
    <add key="Triyakom_AppID" value="30001064" />
    <add key="Triyakom_AppSecret" value="178El7ts" />
    <add key="Triyakom_ServiceID" value="SUBS_NAMAB_1st" />
	<add key="Triyakom_SubscribeFTEU" value="PULL_NAMAB_REG"/>
    <add key="Triyakom_UnsubscribeFTEU" value="PULL_NAMAB_UNREG"/>
    <add key="Triyakom_ShortCode" value="99386" />
    <add key="Triyakom_Endpoint" value="http://gateway.9386.me:3230/api/99386/handle.aspx?" />
    
	
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="/Home/Error" />
    <httpRuntime enableVersionHeader="false" />
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpHandlers>
      <add verb="*" path="portalimage/*" type="EightElements.Web.Handlers.PortalPageImageHandler, EightElements.Web" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="PortalImageHandler" path="/portalimage/*" verb="*" type="EightElements.Web.Handlers.PortalPageImageHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".jad" mimeType="text/vnd.sun.j2me.app-descriptor" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SendSmsBinding" />
        <binding name="SubscribeManageBinding" />
        <binding name="SmsWebserviceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ProcessClientsSOAP12Binding" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
        <binding name="ProcessClientsSOAP11Binding" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <!--          Smart Staging Server -->
      <endpoint address="http://203.87.166.59:8310/SendSmsService/services/SendSms" binding="basicHttpBinding" bindingConfiguration="SendSmsBinding" contract="SendSmsService.SendSms1" name="SendSms" />
      <endpoint address="http://203.87.166.59:8310/SubscribeManageService/services/SubscribeManage" binding="basicHttpBinding" bindingConfiguration="SubscribeManageBinding" contract="SubscriptionService.SubscribeManage" name="SubscribeManage" />
      <endpoint address="http://210.211.99.169:8080/process/services/ProcessClients" binding="customBinding" bindingConfiguration="ProcessClientsSOAP12Binding" contract="ViettelWapChargingWS.ProcessClientsPortType" name="ProcessClientsSOAP12port_http" />
      <endpoint address="http://210.211.99.167:8956/charge" binding="customBinding" bindingConfiguration="ProcessClientsSOAP11Binding" contract="ViettelUPROChargingService.ChargingFW" name="ChargingFWPort" />
      <!-- <endpoint address="http://210.211.99.167:8300/smsws" binding="customBinding"
        bindingConfiguration="ProcessClientsSOAP11Binding" contract="smsws.smswsPortType"
        name="smswsSOAP11port_http" />		-->
      <endpoint address="http://210.211.99.167:8110/smsws" binding="customBinding" bindingConfiguration="ProcessClientsSOAP11Binding" contract="smsws.smswsPortType" name="smswsSOAP11port_http" />
      <endpoint address="http://maxis.charging.8elements.mobi/MaxisCharging.asmx" binding="basicHttpBinding" bindingConfiguration="SmsWebserviceSoap" contract="Maxis.MaxisChargingServiceSoap" name="MaxisChargingServiceSoap" />
    </client>
  </system.serviceModel>
  <dotNetOpenAuth>
    <messaging relaxSslRequirements="true">
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
						<add endpoint="https://www.google.com/accounts/o8/ud" />
					</trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
					     with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <log4net>
    <!-- see http://logging.apache.org/log4net/release/config-examples.html for examples -->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=192.168.110.10;Initial Catalog=8ePing;User ID=sa;Password=8eDB2854" />
      <commandText value="INSERT INTO Log_GG_Triyakom([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, 'TouchPortal - ' + @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
</configuration>
<!--ProjectGuid: {685102F4-D4A2-458E-9217-CFA957406775}-->