@if ((bool)ViewData["NonSub"])
{
    <div>
        <div class="btn-curved gradient-green-bright btn-text-1line" style="margin: 0 auto;">
            <a href="/Subscribe?contentId=@ViewData["ContentId"]">@Html.PortalText("CommonBuyDirectSubscribe")</a>
        </div>
    </div> 
    <hr />
}