

<div class="section">
    <h2 class="section__header">@Resources.Strings.Notification</h2>
    <div class="section__content">
        @{  
           if (!string.IsNullOrWhiteSpace(ViewBag.NotificationMessage))
            {    
                <div class="error-message">
                @Html.Raw(HttpUtility.HtmlDecode(ViewBag.NotificationMessage))
                </div>
            }
        }
        <br />

        <div class="content" style="font-size:small">
        @Html.PortalText("LayoutMiniHelp")
        </div>
    </div>
</div>

