@{
    ViewBag.JoinTop = @Resources.Strings.Home_JoinNow;
    ViewBag.JoinBottom = @Resources.Strings.Home_JoinNow;
    ViewBag.GameList = "GameListBanner";
    ViewBag.SubscribeUrl = "Subscribe/Subscribe";
}

<div class="labelTitle">
</div>

@Html.Partial("Content_FP")
