@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            loadMoreEntries();
        });
        var moreGames = true;
        var loading = true;
        $(window).scroll(loadMoreGamesOnScroll);
    </script>
}

<input type="hidden" id='ListType' value='@ViewData["ListType"]' />
<input type="hidden" id='PageSize' value='@ViewData["PageSize"]' />
<input type="hidden" id='PageNumber' value='0' />
<input type="hidden" id='Keyword' value='@ViewData["Keyword"]' />
<input type="hidden" id='ListSource' value='search' />

<div class="title">
    <h3> @Resources.Strings.Search_Result </h3>
</div>

<div id='games-list'>
</div>