@section Scripts
{
    <script type="text/javascript">
    </script>
}

<div class="gradient-pale padding">
    <div class="page-title"><h3>@Resources.Strings.Help_Help</h3></div>

    <div class="content">
       @Html.PortalText("Help")
    </div>
</div>