@model EightElements.Web.Rest.Helpers.Rss.Channel
@{if (Model != null && Model.Items.Count > 0)
  {
    <div style="padding: 1%; text-align: center; background-color: #32CCFE; font-weight: bold; font-size: 1em;">@Model.Title</div>
    <div style="text-align: center;">
        <ul style="padding: 4%; margin: 0;">
            @{foreach (EightElements.Web.Rest.Helpers.Rss.Item item in Model.Items)
              {
                <li class="leaf"><a href="@item.Link" style="text-decoration: none;">@item.Title</a></li><br />
              }
            }
        </ul>
    </div>
  }
}
