<div class="gradient-pale padding">
    <div class="title">
        <h3>Thông báo</h3>
    </div>
    <br>
    <div class="content">
        <div class="error-message">
            @ViewBag.ErrorString
        </div>
        <div class="error-message">
            Error Code :@ViewBag.ErrorCode
        </div>

        <br>
        <div class="content" style="font-size:small">

        </div>
        <br><br>
    </div>
</div>