<div class="subscribe-content">
    <div id="top">
        @Html.PortalText("SucessSubscribedWelcomeText")
    </div>
    <div id="container" class="gradient-pale">
        <div style="padding:5px">
            @Html.PortalText("SucessSubscribedText")
        </div>
    </div> 
    @Html.PortalText("InmobiSucessSubscribed") 
</div>


