<div class="content">
    <h3>@Resources.Strings.MyAccount_ThankYou</h3>
    
    <p>
        @Html.Raw(Resources.GamerHeaven.MyAccount_OnUnsubscribeSuccess)
    </p>
    
    <div>
        <a href="/">Back to Homepage</a>
    </div>
    <div>
        <a href="/terms">Terms and conditions</a>
    </div>

    
</div>

