<div class="content">
    <h2>@Resources.Strings.MyAccount_ThankYou</h2>
    
    <p>@Resources.GamerHeaven.MyAccount_OnUnsubscribeSuccess</p>
    
    <div>
        <a href="/">Back to Homepage</a>
    </div>
    <div>
        <a href="/terms">Read terms and conditions</a>
    </div>

    <h3>@Resources.Strings.MyAccount_SubscriptionCancel</h3>

</div>
