@section Scripts
{    <script type="text/javascript">
             var theLink = document.getElementById("downloadUrl");
             window.location = theLink.href;
    </script>
}

@{
    string contentTitle = ViewBag.ContentTitle;
    decimal price = (decimal)ViewBag.Price;
    string currency = ViewBag.Currency;
    string displayedPrice = currency + " $" + price.ToString("0.00");
    string message;
    if (price == 0)
    {
        message = String.Format(Resources.GamerHeaven.Purchase_SuccessWithCredit, contentTitle);
    }
    else
    {
        message = String.Format(Resources.GamerHeaven.Purchase_SuccessPpd, contentTitle, displayedPrice);
    }
}

@model EightElements.Web.Rest.ViewModel.ViewModelBuyDownload

@Html.Raw(message)

<p>For help, please call 1300-781-440</p>

<p>
    @Html.ActionLink(Resources.Strings.Purchase_ClickHereToDownload, "Index", "Download", 
    new {
        contentId = Model.ContentID,
        transactionId = Model.ID,
        uid = Model.Msisdn,
        handsetId = Model.HandsetID
        },
    new {
        id = "downloadUrl"
    })
</p>