<div class="section">
    <div class="section__header">
        @Resources.Strings.Term_OfUse
    </div>
    
    <div class="content">
        @Html.PortalText("Terms and Conditions")
    </div>
    
    <div class="button">
        <a class="button__link" href="/">Back To Home Page</a>
    </div>

</div>
