@{if ((bool)ViewData["CanStillUseFirstWeekFree"])
{ 
    <div class="first-week-free category row-fluid" style="padding: 3% 1px; color: #3AF500; font-weight: bold; margin-top: 3px">
        @Html.Raw(Resources.Strings.Home_WelcomeTitle)
    </div>
}}