<div class="content">
    <h2>@Resources.Strings.MyAccount_ThankYou</h2>

    <h3>@Resources.Strings.MyAccount_SubscriptionCancel</h3>
    @Html.ActionLink(@Resources.Strings.MyAccount_RedirectHomePage, "Index", "Home")



</div>
