@section style
{
    <style>
        
        ul {
            margin: 0 -10px;
        }
         li:nth-child(1)
         {
             list-style-image:url(Images/General/Subscription/Bullets/bubblepink.png);
         }
        li:nth-child(2)
        {
            list-style-image:url(Images/General/Subscription/Bullets/bubblegreen.png);
        }
        li:nth-child(3)
        {
            list-style-image:url(Images/General/Subscription/Bullets/bubbleblue.png);
        }
        li:nth-child(4)
        {
            list-style-image:url(Images/General/Subscription/Bullets/bubblepurple.png);
        }
        li:nth-child(5)
        {
            list-style-image:url(Images/General/Subscription/Bullets/bubbleyellow.png);
        }
        li:nth-child(6)
        {
            list-style-image:url(Images/General/Subscription/Bullets/bubblered.png);
        }
    </style>
}

<a >  <br/><br/></a>
<div id="container" class="gradient-beach">
    @{if ((bool)ViewData["isMsisdnNotDetected"] == false)
    {
        @Html.Partial("IndexPartial_FP")
    }
    else
    {
        @Html.Partial("IndexPartialWifi_FP")
    }}
</div>
<br/>