@section Scripts
{    <script type="text/javascript">
             var theLink = document.getElementById("downloadUrl");
             window.location = theLink.href;
    </script>
}

@model EightElements.Web.Rest.ViewModel.ViewModelBuyDownload


<div class="section">
    <h2 class="section__header">@Resources.Strings.Purchase_Thankyou</h2>
    <div class="section__content">
        <p>
            @Html.ActionLink(Resources.Strings.Purchase_ClickHereToDownload, "Index", "Download", 
                new {
                    contentId = Model.ContentID,
                    transactionId = Model.ID,
                    uid = Model.Msisdn,
                    handsetId = Model.HandsetID
                },
                new {
                    id = "downloadUrl"
                })
        </p>
    </div>
</div>


