@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            GetDownloadedGamesAndGenerateList();
        });
    </script>
}

<div class="page-title">
    <h3>@Resources.Strings.Purchase_MyDownload</h3>
</div>

<div id='download-list'>
    <span>@Resources.Strings.Purchase_Loading</span>
</div>
