<div class="gradient-pale padding">
    <div class="title">
        <h3>@Resources.Strings.Notification</h3>
    </div>
    <br/>
    <div class="content">
        @Resources.Strings.Purchase_Notification
        <br/><br/>
    </div> 
</div>
